<?xml version="1.0"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppStart>homepage</AppStart>
  <HomePage>http://www.codeproject.com</HomePage>
  <Setup>false</Setup>
  <StartUpPage>http://www.cnblogs.com/Rss.aspx</StartUpPage>
  <TemplateFolder>Template</TemplateFolder>
</AppSettings>